{{> header}}

<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;">
  <p>Dear {{#if user.firstName}} {{user.firstName}} {{else}} [First Name]{{/if}},</p>

  <p style="line-height: 1.6;">{{message}}</p>

  {{#if eventDetails}}
  <h3 style="color: #444; font-size: 20px;">Event Details:</h3>
  <ul style="padding-left: 20px;">
    <li><strong>Event Name:</strong> {{eventDetails.name}}</li>
    <li><strong>Date:</strong> {{dateFormat eventDetails.date "MMMM D, YYYY"}}</li>
    <li><strong>Time:</strong> {{formatDateWithTimeZone eventDetails.date "h:mm A z" "America/New_York"}}</li>
    <li><strong>Location:</strong> {{eventDetails.location}}</li>
    <li><strong>Days Until Event:</strong> {{eventDetails.daysUntil}}</li>
  </ul>
  {{/if}}

  <p>We hope to see you there!</p>
</div>

{{> footer}}